body {
    background-color: black;
}

.container1 {
    position: absolute;
    height:  1080px;
    width: 1920px;
    text-align: center;
}

.backgroundImg {
    position: absolute;
    height: auto;
    width: 100%;
    display: block;
}

.topBar {
    position: absolute;
    top: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
    background-color: none;
}

.text1 {
    position: absolute;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    top: 15px;
    left: 300px;
    cursor: pointer;
    text-decoration: none;
}

.text2 {
    position: absolute;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    left: 1160px;
    top: 30px;
    cursor: pointer;
}

.text3 {
    position: absolute;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    left: 1280px;
    top: 30px;
    cursor: pointer;
}

.text4 {
    position: absolute;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    left: 1400px;
    top: 30px;
    cursor: pointer;
}

.text5 {
    position: absolute;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    left: 1520px;
    top: 30px;
    cursor: pointer;
}

.text6 {
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    color: white;
    left: 620px;
    top: 240px;
    cursor: text;
}

.text7 {
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    color: white;
    left: 580px;
    top: 900px;
    cursor: text;
}

.buttonShopNow {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    top: 1100px;
    background-color: #cf9850;
    border-radius: 3px;
    width: 140px;
    height: 40px;
    border: none;
    left: 900px;
    cursor: pointer;
}

.container2 {
    position: relative;
    top: 1280px;
    height: 1080px;
    width: 1920px;
    text-align: center;
    background-color: #120f0e;
}
