* {
    background-color: black;
    border-radius: 1vi;
    margin: 0%;
}

body {
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    gap: 2vw;
    grid-template-columns: auto auto auto auto;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}

.container > div {
    margin: 0;
    padding: 0;
}

.image1 {
    background-image: url(../img/8.jpg);
    background-size: cover; 
    width: 15vw;
    height: 15vw;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}

.image2 {
    background-image: url(../img/3.jpg);
    background-size: cover; 
    width: 15vw;
    height: 15vw;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
}

.image3 {
    background-image: url(../img/1.jpg);
    background-size: cover; 
    width: 30vw;
    height: 15vw;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}

.image4 {
    background-image: url(../img/6.jpg);
    background-size: cover; 
    width: 15vw;
    height: 32vw;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.image5 {
    background-image: url(../img/5.jpg);
    background-size: cover; 
    width: 30vw;
    height: 15vw;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

.image6 {
    background-image: url(../img/7.jpg);
    background-size: cover;
    width: 15vw;
    height: 15vw;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: 5;
}

.image7 {
    background-image: url(../img/2.jpg);
    background-size: cover;
    width: 30vw;
    height: 15vw;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.image8 {
    background-image: url(../img/4.jpg);
    background-size: cover;
    width: 15vw;
    height: 15vw;
    grid-row-start: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}