@font-face {
    font-family: 'AmazonEmberLight';
    src: url('../fonts/AmazonEmber_Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    body {
        background-color: black;
    }

    .backgroundImg {
        top: 0px;
        left: 0px;
        width: 1920px;
        height: 1080px;
    }

    .primeLogo {
        position: absolute;
        width: 556px;
        height: 313px;
        top: 227px;
        bottom: 540px;
        left: 682px;
        right: 682px;
    }

    .searchButton {
        cursor: pointer;
        border: none;
        background: none;
        position: absolute;
        width: 36px;
        height: 36px;
        top: 37.5px;
        left: 63.43px;
    }

    .loginButton {
        cursor: pointer;
        border: none;
        position: absolute;
        top: 30px;
        bottom: 996px;
        left: 1695px;
        right: 20px;
        width: 205px;
        height: 54px;
        border-radius: 40px;
        font-family: "Amazon Ember", sans-serif;
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }

    .text1 {
        position: absolute;
        font-family: "Amazon Ember", sans-serif;
        font-size: 60px;
        top: 457px;
        left: 389px;
        height: 60px;
        text-align: center;
        color: white;
    }

    .text2 {
    font-family: 'AmazonEmberLight', sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 608px;
    left: 380px;
    text-align: center;
    }


    .signUpButton {
        cursor: pointer;
        border: none;
        position: absolute;
        top: 755px;
        bottom: 732px;
        left: 730px;
        right: 221px;
        width: 458px;
        height: 104px;
        border-radius: 40px;
        font-family: "Amazon Ember", sans-serif;
        font-size: 40px;
        justify-content: center;
        align-items: center;
    }

    .infoFrame1 {
        cursor: default;
        position: absolute;
        width: 1792px;
        height: 567px;
        top: 1106px;
        left: 62.33px;
    }

    .infoFrame2 {
        position: absolute;
        width: 1792px;
        height: 724px;
        top: 1717px;
        left: 62.33px;
        background-color: #00B7F1;
        border-radius: 110px;
    }

    .topTextFrame2 {
        position: absolute;
        font-family: "Amazon Ember", sans-serif;
        font-size: 60px;
        top: 1770px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        text-align: center;
        width: 100%;
    }

    .movie1 {
        width: 181px;
        height: 309px;
        position: absolute;
        top: 179px;
        left: 475.33px;
    }

    .movie2 {
        width: 181px;
        height: 309px;
        position: absolute;
        top: 179px;
        left: 668.33px;
    }

    .movie3 {
        width: 181px;
        height: 309px;
        position: absolute;
        top: 179px;
        left: 861.33px;
    }

    .movie4 {
        width: 181px;
        height: 309px;
        position: absolute;
        top: 179px;
        left: 1053.33px;
    }

    .movie5 {
        width: 181px;
        height: 309px;
        position: absolute;
        top: 179px;
        left: 1246.33px;
    }

    .bottomTextFrame2 {
        position: absolute;
        font-family: "Amazon Ember", sans-serif;
        font-size: 50px;
        top: 549px;
        left: 205.33px;
    }

    .infoFrame3 {
        position: absolute;
        width: 1792px;
        height: 567px;
        top: 2467px;
        left: 62.33px;
        background-color: #00B7F1;
        border-radius: 110px;
    }

    .topTextFrame3 {
        position: absolute;
        font-family: "Amazon Ember", sans-serif;
        font-size: 60px;
        top: 2546px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        text-align: center;
        width: 100%;
    }

    .cancelLogo {
        position: absolute;
        top: 2650px;
        left: 850.01px;
    }

    .bottomTextFrame3 {
        position: absolute;
        font-family: "Amazon Ember", sans-serif;
        font-size: 40px;
        top: 2881px;
        left: 50%;
        color: white;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
    }

    .bottomText1 {
        position: absolute;
        font-family: "Amazon Ember", sans-serif;
        font-size: 125px;
        top: 3127px;
        left: 50%;
        color: white;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
    }

    .bottomText2 {
        position: absolute;
        font-family: "Amazon Ember", sans-serif;
        font-size: 40px;
        top: 3296px;
        left: 50%;
        color: white;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
    }

    .macLogo {
        position: absolute;
        top: 3440px;
        left: 685px;
    }

    .phoneLogo {
        position: absolute;
        top: 3606px;
        left: 386px;
        width: 256px;
        height: 219px;
    }

    .pcLogo {
        position: absolute;
        top: 3587px;
        left: 1261px;
        width: 271px;
        height: 238px;
    }

    .rightArrow {
        top: 3702px;
        left: 1575px;
        width: 18px;
        height: 26px;
        transform: matrix(0, -1, 1, 0, 0, 0);
    }

    .leftArrow {
        top: 3689px;
        left: 305px;
        width: 19px;
        height: 27px;
    }
}