@font-face {
    font-family: 'AmazonEmberLight';
    src: url('../fonts/AmazonEmber_Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    body {
        background-color: black;
    }

    .backgroundImg1 {
        top: 0px;
        left: 0px;
        width: 1920px;
        height: 1080px;
    }

    .primeLogo {
        position: absolute;
        width: 556px;
        height: 313px;
        top: 227px;
        bottom: 540px;
        left: 682px;
        right: 682px;
    }

    .searchButton {
        cursor: pointer;
        border: none;
        background: none;
        position: absolute;
        width: 36px;
        height: 36px;
        top: 37.5px;
        left: 63.43px;
    }

    .searchIcon {
        width: 36px;
        height: 36px;
    }

    .loginButton {
        cursor: pointer;
        border: none;
        position: absolute;
        top: 30px;
        bottom: 996px;
        left: 1695px;
        right: 20px;
        width: 205px;
        height: 54px;
        border-radius: 40px;
        font-family: 'AmazonEmberLight', sans-serif;
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }

    .text1 {
        position: absolute;
        font-family: "Amazon Ember", sans-serif;
        font-size: 60px;
        top: 457px;
        left: 389px;
        height: 60px;
        text-align: center;
        color: white;
    }

    .text2 {
    font-family: 'AmazonEmberLight', sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 580px;
    left: 380px;
    text-align: center;
    }


    .signUpButton {
        cursor: pointer;
        border: none;
        position: absolute;
        top: 755px;
        bottom: 732px;
        left: 730px;
        right: 221px;
        width: 458px;
        height: 104px;
        border-radius: 40px;
        font-family: 'AmazonEmberLight', sans-serif;
        font-size: 40px;
        justify-content: center;
        align-items: center;
    }

    .infoFrame1 {
        cursor: default;
        position: absolute;
        width: 1792px;
        height: 567px;
        top: 1106px;
        left: 62.33px;
    }

    .infoFrame2 {
        position: absolute;
        width: 1792px;
        height: 724px;
        top: 1717px;
        left: 62.33px;
        background-color: #00B7F1;
        border-radius: 110px;
    }

    .topTextFrame2 {
        position: relative;
        font-family: "Amazon Ember", sans-serif;
        font-size: 60px;
        top: 10px;
        color: white;
        text-align: center;
        width: 100%;
    }

    .movie1 {
        width: 181px;
        height: 309px;
        position: absolute;
        top: 120px;
        left: 413px;
    }

    .movie2 {
        width: 181px;
        height: 309px;
        position: absolute;
        top: 120px;
        left: 606px;
    }

    .movie3 {
        width: 181px;
        height: 309px;
        position: absolute;
        top: 120px;
        left: 799px;
    }

    .movie4 {
        width: 181px;
        height: 309px;
        position: absolute;
        top: 120px;
        left: 991px;
    }

    .movie5 {
        width: 181px;
        height: 309px;
        position: absolute;
        top: 120px;
        left: 1184px;
    }

    .bottomTextFrame2 {
        position: absolute;
        font-family: 'AmazonEmberLight', sans-serif;
        font-size: 50px;
        top: 500px;
        left: 143px;
        color: white;
        text-align: center;
    }

    .infoFrame3 {
        position: absolute;
        width: 1792px;
        height: 567px;
        top: 2467px;
        left: 62.33px;
        background-color: #00B7F1;
        border-radius: 110px;
    }

    .topTextFrame3 {
        position: relative;
        font-family: "Amazon Ember", sans-serif;
        font-size: 60px;
        top: 10px;
        color: white;
        text-align: center;
        width: 100%;
    }

    .cancelLogo {
        position: absolute;
        top: 200px;
        left: 811.68px;
    }

    .bottomTextFrame3 {
        position: absolute;
        font-family: 'AmazonEmberLight', sans-serif;
        font-size: 40px;
        top: 390px;
        color: white;
        width: 100%;
        text-align: center;
    }

    .bottomPart {
        width: 1920px;
        height: 1000px;
        top: 3037px;
    }

    .bottomText1 {
        position: absolute;
        font-family: 'AmazonEmberLight', sans-serif;
        font-size: 125px;
        top: 3020px;
        left: 410px;
        color: white;
        text-align: center;
    }

    .bottomText2 {
        position: absolute;
        font-family: 'AmazonEmberLight', sans-serif;
        font-size: 40px;
        top: 3270px;
        left: 240px;
        color: white;
        text-align: center;
    }

    .macLogo {
        position: absolute;
        top: 3440px;
        left: 620px;
        width: 584px;
        height: 534px;
    }

    .phoneLogo {
        position: absolute;
        top: 3606px;
        left: 321px;
        width: 256px;
        height: 219px;
    }

    .pcLogo {
        position: absolute;
        top: 3587px;
        left: 1261px;
        width: 271px;
        height: 238px;
    }

    .rightArrow {
        position: absolute;
        top: 3701px;
        left: 1630px;
        width: 18px;
        height: 26px;
        transform: scaleX(-1);
    }

    .leftArrow {
        position: absolute;
        top: 3701px;
        left: 240px;
        width: 18px;
        height: 26px;
    }

    .bottomTextScreen1 {
        position: absolute;
        font-family: 'AmazonEmberLight', sans-serif;
        font-size: 20px;
        top: 3925px;
        left: 581px;
        color: white;
        text-decoration: none;
    }

    .bottomTextScreen2 {
        position: absolute;
        font-family: 'AmazonEmberLight', sans-serif;
        font-size: 20px;
        top: 3925px;
        left: 740px;
        color: white;
        text-decoration: none;
    }

    .bottomTextScreen3 {
        position: absolute;
        font-family: 'AmazonEmberLight', sans-serif;
        font-size: 20px;
        top: 3925px;
        left: 890px;
        color: white;
        text-decoration: none;
    }

    .bottomTextScreen4 {
        position: absolute;
        font-family: 'AmazonEmberLight', sans-serif;
        font-size: 20px;
        top: 3925px;
        left: 1090px;
        color: white;
        text-decoration: none;
    }

    .bottomTextScreen5 {
        position: absolute;
        font-family: 'AmazonEmberLight', sans-serif;
        font-size: 20px;
        top: 3925px;
        left: 1190px;
        color: white;
        text-decoration: none;
    }
}