@font-face {
    font-family: headoh_font;
    src: url(../fonts/Headoh.TTF);
}

*{
    color: #000000;
    font-family: headoh_font;
    margin: 0%;
    border-radius: 40px;
}

body{
    margin-top: 3vh;
    background-color: #000000;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
}

.container1 > div {
    background-color: #ffffff;
    padding: 3vw;
    text-align: left;
    font-size: 2.5vw;
}

.container1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1vw;
    background-color: #000000;
    padding: 1vw;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    text-align: center; 
}

.image1 {
    background-image: url(../img/3.jpg);
    background-size: cover; 
    width: 25vw;
    height: 37vw;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
}

div > .texto1{
    padding-top: 7vw;
}

color_text{
    padding: 0.2vh;
    background-color: #df47f7;
}

.video1{
    width: 25vw;
    height: 15vw;
    background-image: url(../video/1.gif);
    background-size: cover; 
}

.video2{
    background-image: url(../video/2.gif);
    background-size: cover; 
    width: 25vw;
    height: 15vw;
}

.video3{
    grid-column: 1;
    grid-column-end: 3;
    background-image: url(../video/3.gif);
    background-size: cover; 
    height: 30vw;
}

.container2 {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1vw;
    background-color: #000000;
    padding: 1vw;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    text-align: center; 
}

.image1_2 {
    width: 31.5vw;
    height: 20vw;
    background-image: url(../img/2.jpg);
    background-size: cover; 
    grid-row-start: 0;
    grid-row-end: 2;
    grid-column-start: 1 ;
}

.video1_2{
    background-image: url(../video/5.gif);
    background-size: cover; 
    width: 31.5vw;
    height: 20vw;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1 ;
}

.image2_2{
    background-image: url(../img/1.jpeg);
    background-size: cover; 
    width: 30.5vw;
    height: 41vw;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2; 
}