*{
    *{
    font-family: 'Montserrat', sans-serif;
    }

    .menImg {
    background-color: skyblue;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    vertical-align: middle;
    
    }

    .girlImg{
    background-color: rgb(255, 97, 229);
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    vertical-align: middle;
    
    }

    .check {
    vertical-align: middle;
    }

    .description {
    padding: 10px;
    height: 100px;
    width: 400px;
    }
}
