
body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;   
}

.animatedBackground {
    background-image: url(../img/background.png);
    background-size: cover;
    width: 1100px;
    height: 284px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: backgroundAnimation linear 4s infinite;
}

.animatedGuy {
    background-image: url(../img/1.png);
    height: 172px;
    width: 102px;
    background-size: cover;
    animation: guyAnimation .9s infinite;
}

@keyframes backgroundAnimation {
    from{
    background-position: 0px;
    }
    to{
    background-position: -1100px;
    }
}

@keyframes guyAnimation {
    0% {
        background-image: url(../img/1.png);
        height: 172px;
        width: 102px;
        background-size: cover;
    }
    20% {
        background-image: url(../img/2.png);
        height: 172px;
        width: 102px;
        background-size: cover;
    }
    40% {
        background-image: url(../img/3.png);
        height: 172px;
        width: 102px;
        background-size: cover;
    }
    60% {
        background-image: url(../img/4.png);
        height: 172px;
        width: 102px;
        background-size: cover;
    }
    80% {
        background-image: url(../img/5.png);
        height: 172px;
        width: 102px;
        background-size: cover;
    }
    100% {
        background-image: url(../img/6.png);
        height: 172px;
        width: 102px;
        background-size: cover;
    }
}
